/* body styling */
body {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 60) 15%, white),url(Images/Splash/daisies.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: relative;
}

a:hover {
  color: white;
}

.main {
  margin-bottom: 200px;
}

/*Styled list items for Bach and Native emotion pages */
.emotionsListShell {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  margin-bottom: 80px;
}

.listItem {
  flex: 1;
  color: black;
  line-height: 3;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 150px;
  height: 70px;
  text-align: center;
  align-content: center;
  border-width: 5px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to bottom, 
    #455F41, 
    rgba(0, 0, 0, 0)
  ) 1 100%;
  position: relative;
  display: inline-block;
  /*border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 60;*/
}


.listItem:hover {
  background: linear-gradient(180deg, #455F41 , rgb(180, 191, 179, 0.5));
  color: white;
  border-width: 5px;
  border-style: solid;
  border-image: none;
  border-color:#455F41;
}

/* Drop down button styling for navigating to flowers */
.dropTileButton {
  border: none;
  font-weight: bold;
}

.dropTile {
  position: relative;
  display: inline-block;
}

.dropListContent {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 122px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 33px;
}

.dropListContent a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: flex;
}

.dropListContent a:hover {
  background-color: #ddd;
  z-index: 999;
  display: flex;
}

.listItem:hover .dropListContent {
  display: inline-block;    
  z-index: 999;
}
.toggleBox {
  list-style-type: none;
  display: none;
  left: -100px;
  transition-property: left;
  transition-duration: 2s;
}

ul {
  padding-left: 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.toggleBoxSeen {
  list-style-type: none;
  display: block;
  left: 0px;
}

.toggleBoxSeen li {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.toggleBarCont {
  display: flex;
}
#bachFlowerList {
  text-align: left;
  list-style-type: none;
  line-height: 3;
  border-radius: 5px;
  color: white;
}

#bachFlowerList li {
  background: linear-gradient(0.25turn, #455F41,  #fff);
}

#nativeFlowerList {
  text-align: right;
  list-style-type: none;
  line-height: 3;
  border-radius: 5px;
  margin: 15px;
  color: white;
}
#nativeFlowerList li {
  background: linear-gradient(0.25turn,  #fff, #455F41);
}

.menuBox {
  margin: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.713);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 10.26px;;
}
.menuBox p {
  line-height: 2;
  font-size: 2rem;
}

@media (max-width: 1200px) {
    /* body styling */
body {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 60) 15%, white),url(Images/Splash/daisies.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    /*Styled list items for emotion pages */
.emotionsListShell {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  .listItem {
    flex: 150px;
  }
  .menuBox {
    width:fit-content;
    margin-bottom: 20px;
  }
  .toggleBarCont {
    flex-wrap: wrap;
  }
}