.main {
  margin-bottom: 200px;
}
ul {
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

/*Styled list items for Bach and Native emotion pages */
.emotionsListShell {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 35px;
  border: 2px solid #476143;
  border-radius: 50px;
  margin-top: 35px;
}

.listItem {
  line-height: 4;
  border-radius: 512px;
  width: 150px;
  height: 70px;
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.listItem:hover {
  background: #46604240;
  color: white;
}

/* Drop down button styling for navigating to flowers */
.dropTileButton {
  border: none;
  text-decoration: none;
  color: black;
}

.dropTile {
  position: relative;
  display: inline-block;
}

.dropListContent {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: relative;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 8px;
  display: inline-block;
  transition: opacity 600ms, visibility 600ms; 
}

.dropListContent a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: flex;
  line-height: 2;
}

.dropListContent a:hover {
  background-color: #ddd;
  z-index: 999;
  display: flex;
}

.listItem:hover .dropListContent {   
  z-index: 999;
}

/*Display info for menutile buttons and drop and hover lists of flowerrs and emotions */
.toggleBarCont {
  display: flex;
}
  
.menuBUttton {
  margin: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 500px;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 10.26px;
  border-width: 0px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuBUttton:hover, .menuBUttton:focus {
  background-color: #2980B9;
}

.menuBUttton > button {
  line-height: 2;
  font-size: 2rem;
}

.dropdownFlowwers {
  position: relative;
  display: inline-block;
}

.dropdownFlowwers-content {
visibility: hidden;
    opacity: 0;
  position: absolute;
  left: 15px;
  width: 250px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
   transition: opacity 600ms, visibility 600ms;
}

.dropdownFlowwers-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownFlowwers a:hover {background-color: #ddd;}

.show {
  visibility: visible;
    opacity: 1;
}
.listHoverItem {
    padding: 15px;
}
.listHoverItem:hover {
    background-color: rgb(197, 191, 191, 0.6);
}
.singleLink {
    position: relative;
}
.singlelinkDISP {
  padding: 12px 16px;
  width: 218px;
  transition: opacity 600ms, visibility 600ms;
  display: none;
}


.singlelinkDISP:hover {
  background-color: rgba(167, 174, 160, 1);;
}


.singlelinkDISP > a {
  color: black;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
  background-color: none;
}
.singlelinkDISP > a:hover {
  background-color: rgba(167, 174, 160, 0.0);
}


.singleLink:hover .singlelinkDISP {display: block;}
/* This is the click function toggle class that just changes the display type so the mobile function works */

.listDisplay {
  position: absolute;
  top: 0;
  right: -250px;
  min-width: 150px;
  background: rgba(207, 214, 199, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.reveal {
  display: block;
  visibility: visible;
  opacity: 1;
  }     

.mobileDiv {
  border: 0px solid #476143;
  border-radius: 45px;
  padding: 0px;
  margin: 0px;
  display: static;
}
#desktopMain {
  display: flex;
}
#mobileMain {
  display: none;
}
@media (max-width: 1050px) {
  #desktopMain {
    display: none;
  }
  #mobileMain {
    display: flex;
  }
  .mobileDiv {
    border: 2px solid #476143;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
  }
  .emotionsListShell {
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    width: inherit;
    margin: 0px;
    border-width:0px;
  }
  .listItem {
    line-height: 4;
    border-radius: 2px;
    width: auto;
    text-align: center;
    height: 70px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: static;
  }
  .dropListContent {
    display: none;
    position: relative;
    z-index: 1;
    height: 0px;
    width:auto;
    min-width:auto;
    top: -2px;
  }
  .dropListContent a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: flex;
    line-height: 2;
    text-align: center;
    background-color: #46604240;
    backdrop-filter: blur(5px);
  }
  .dropListContent a:hover {
    background-color: #4761434f;
  }
  .show {
    visibility: visible;
    opacity: 1;
    height:auto;
    }  
  .reveal {
    visibility: visible;
    opacity: 1;
    display: block;
  } 

  .toggleBarCont {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }
  .menuBUttton {
    margin-bottom: 15px;
  }
  .menuBUttton {
    display: none;
  }
  
  .toggleBarCont {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
  }
  
  .buttonHeadingMobile {
    font-size: 1.5rem;
    color: black;
    border-width: 0px;
    background-color: white;
    margin: 27px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 5.26px;
  }
  
  .listDisplay {
    position:static;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #455F41;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #455F41;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .switchPosition {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .mobileShow {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms, 0.4s;
  }
  
  .mobileHidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms, 0.4s;
  }
  .dropdownFlowwers {
    position: relative;
    display: block;
  }
  
  .dropdownFlowwers-content {
    visibility: visible;
    opacity: 1;
    left:auto;
    width: auto;
    position: relative;
  }
  .singlelinkDISP {
    width: inherit;
  }
  
  .listShow {
    display: block;
    transition: opacity 600ms, visibility 600ms;
  }
}
